.form{
    background-color: #E5E5F7;
    opacity: 0.7;
    background-image: radial-gradient(circle at center center, #3a4ab6, #E5E5F7), repeating-radial-gradient(circle at center center, #3a4ab6, #3a4ab6, 20px, transparent 40px, transparent 20px);
    background-blend-mode: multiply;
}